{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('homepage') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('homepage') }}
{% endblock %}

{% block header %}
    <div class="cta-wrapper">
        <h1>Facilitez la consultation de vos annonces immobilières dès maintenant</h1>
        <a class="btn-signin" href="{{ path('connect_google_start') }}">
            <img src="{{ asset('build/logo_google_signin.svg') }}" alt="Google logo" />
            Sign in with Google
        </a>
    </div>
{% endblock %}

{% block body %}
    <p class="introduction">
        Immo'Scrap est un site développé par un particulier <b>indépendant</b> et désintéressé dont l'objectif est de <b>centraliser</b> les annonces immobilières extraites depuis vos <b>newsletters</b>
    </p>
    <div class="section-container">
        <div id="principle" class="section">
            <h2>Comment ça marche ?</h2>
            <p>Tout d'abord, Immo'Scrap <b>extrait les biens immobiliers</b> qui se trouvent dans vos emails de newsletter de sites d'annonces immobilières.</p>
            <p>Les annonces sont ensuite filtrées : les doublons (provenant d'un même site) sont <b>mis de côté</b>, tandis que les annonces similaires émanant de sites différents sont <b>regroupées</b> entre elles, afin d'offir le contenu le plus exhaustif et <b>unique</b> possible.</p>
            <p>Enfin, libre à vous de <b>refiltrer</b> et <b>trier</b> vos annonces comme bon vous semble !</p>
        </div>
        <div id="instructions" class="section">
            <h2>Que faut-il faire pour utiliser le site ?</h2>
            <p>Au préalable, s'<b>inscrire aux newsletters</b> de vente de biens immobiliers qui vous intéressent sur les plateformes citées juste après.</p>
            <p>Connecter son <b>compte Gmail</b> à Immo'Scrap en cliquant sur le bouton </p>
            <p>Consulter Immo'Scrap aussi longtemps que vous n'aurez pas trouvé votre <b>chez-vous</b> !</p>
        </div>
        <div id="providers" class="section">
            <h2>Quelles sont les plateformes d'annonces immobilières gérées par Immo'Scrap ?</h2>
            <ul class="provider-container">
                <li><a href="https://www.bienici.com"><img src="{{ asset('build/providers/bienici.svg') }}" alt="Bien'ici"/></a></li>
                <li><a href="https://www.fnaim.fr"><img src="{{ asset('build/providers/fnaim.png') }}" alt="FNAIM"/></a></li>
                <li><a href="https://www.leboncoin.fr"><img src="{{ asset('build/providers/leboncoin.svg') }}" alt="Leboncoin"/></a></li>
                <li><a href="https://www.logic-immo.com"><img src="{{ asset('build/providers/logic_immo.png') }}" alt="Logic-Immo"/></a></li>
                <li><a href="https://www.ouestfrance-immo.com"><img src="{{ asset('build/providers/ouestfrance_immo.svg') }}" alt="OuestFrance-Immo"/></a></li>
                <li><a href="https://www.pap.fr"><img src="{{ asset('build/providers/pap.png') }}" alt="PAP"/></a></li>
                <li><a href="https://www.seloger.com"><img src="{{ asset('build/providers/seloger.svg') }}" alt="SeLoger"/></a></li>
            </ul>
        </div>
        <div id="security" class="section">
            <h2>Qu'en est-il de la confidentialité ?</h2>
            <p>Immo'Scrap traite <b>uniquement</b> des emails provenant d'adresses mail appartenant à des sites d'annonces immoblières.</p>
            <p>Immo'Scrap ne <b>conserve</b> ni ne <b>diffuse</b> aucun email.</p>
            <p>Immo'Scrap ne stocke que les données personnelles dont il a besoin pour <b>fonctionner</b> : votre adresse Gmail.</p>
            <p>Les adresses mails ne sont <b>ni vendues ni partagées</b> car Immo'Scrap est développé par un particulier complètement désintéressé.</p>
            <p>Il est possible à tout moment de <b>déconnecter</b> votre compte Google d'Immo'Scrap, depuis Immo'Scrap ou votre <a class="link" href="https://myaccount.google.com/permissions">compte Google</a>.</p>
        </div>
    </div>
{% endblock %}
