<div class="property-ad">
    <a class="link" href="{{ ad.url }}">
        <div class="photo-wrapper">
            <img class="photo" src="{% if ad.photo is not empty %}{{ ad.photo }}{% else %}{{ asset('build/home-solid.svg') }}{% endif %}" alt="Photo du bien immobilier">
            {% if ad.newBuild %}
                <div class="new-build-tag">NEUF</div>
            {% endif %}
        </div>
        <div class="main-section">
            <h3 class="price">{{ ad.price ? ad.price|number_format(null, ',', ' ') : 'N/A' }} &euro;</h3>
            <p>
                <span class="area{% if ad.area is null %} unknown{% endif %}">{{ ad.area|default('N/A') }}&nbsp;m&sup2;</span>
                &nbsp;•&nbsp;
                <span class="rooms-count{% if ad.roomsCount is null %} unknown{% endif %}">{{ ad.roomsCount|default('N/A') }}&nbsp;pièces</span>
            </p>
            <p class="location"><i class="fas fa-map-marker-alt"></i>&nbsp;{{ ad.location }}</p>
            <img class="provider-logo" src="{{ asset('build/providers/' ~ ad.provider|provider_logo) }}" alt="{{ ad.provider }}">
        </div>
        <div class="publication-date">
            <i class="far fa-clock"></i>&nbsp;
            <span class="publication-date-day">{{ ad.publishedAt|date('d/m/Y') }}</span>&nbsp;
            <span class="publication-date-time">({{ ad.publishedAt|date('H:i:s') }})</span>
        </div>
    </a>
    {% if ad.duplicates is not empty %}
        <div class="duplicate-container">
            {% for duplicate in ad.duplicates %}
                <div class="duplicate">
                    <a class="link" href="{{ duplicate.url }}">
                        <img class="photo" src="{% if duplicate.photo is not empty %}{{ duplicate.photo }}{% else %}{{ asset('build/home-solid.svg') }}{% endif %}" alt="Photo du bien immobilier">
                        <span class="label">
                            Aussi présent sur&nbsp;
                            <img class="provider-logo" src="{{ asset('build/providers/' ~ duplicate.provider|provider_logo) }}" alt="{{ duplicate.provider }}">
                        </span>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
