{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('property_ads') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('property_ads') }}
{% endblock %}

{% block header %}
    <div class="google-profile">
        <img class="google-profile__image" src="{{ app.user.profileImage }}" alt="Image de profil Google" data-toggle="tooltip" data-placement="left" title="{{ app.user.email }}"/>
        <button id="btn-google-signout" class="btn-google google-profile__btn-signout">Déconnexion</button>
    </div>
    <form id="filter-form">
        <div class="dropdown">
            {{ form_label(filter_form.newerThan) }}
            {{ form_widget(filter_form.newerThan) }}
        </div>
        <div class="dropdown">
            {{ form_label(filter_form.label) }}
            {{ form_widget(filter_form.label) }}
        </div>
        <div class="checkbox">
            {{ form_widget(filter_form.newBuild) }}
            {{ form_label(filter_form.newBuild) }}
        </div>
        <button class="btn-filter" type="submit"><i class="fas fa-search"></i>&nbsp;Appliquer</button>
    </form>
{% endblock %}

{% block body %}
    <div class="result">
        <div class="result__label"><span class="result__count"></span>&nbsp;annonces trouvées</div>
        <div class="result__sort-select dropdown dropdown--without-label">
            {{ form_widget(sort_form.sort) }}
        </div>
    </div>

    <div class="property-ad-container"></div>
{% endblock %}
