{% extends 'base.html.twig' %}

{% set sort_choices = {
    'Date décroissante': constant('App\\Service\\PropertyAdSortResolver::PUBLISHED_AT_DESC'),
    'Date croissante': constant('App\\Service\\PropertyAdSortResolver::PUBLISHED_AT_ASC'),
    'Prix décroissant': constant('App\\Service\\PropertyAdSortResolver::PRICE_DESC'),
    'Prix croissant': constant('App\\Service\\PropertyAdSortResolver::PRICE_ASC'),
    'Surface décroissante': constant('App\\Service\\PropertyAdSortResolver::AREA_DESC'),
    'Surface croissante': constant('App\\Service\\PropertyAdSortResolver::AREA_ASC')
} %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('property_ads') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('property_ads') }}
{% endblock %}

{% block header %}
    <div class="user-section">
        <img class="avatar" src="{{ app.user.avatar }}" alt="Avatar" data-toggle="tooltip" data-placement="left" title="{{ app.user.email }}"/>
        <a class="btn-signout" href="{{ path('logout') }}">Déconnexion</a>
    </div>

    {{ include('property_ad/_filter_form.twig') }}
{% endblock %}

{% block body %}
    <div class="result">
        <div class="result__label"><span class="result__count"></span>&nbsp;annonces trouvées</div>
        <div class="result__sort-select dropdown dropdown--without-label">
            <select id="sort-select" name="sort">
                {% for label, value in sort_choices %}
                    <option value={{ value }}>{{ label }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="property-ad-container"></div>
{% endblock %}
