{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('property_ad_index') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('property_ad_index') }}
    <script async defer src="https://apis.google.com/js/api.js"
            onload="window.handleClientLoad();"
            onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script>
{% endblock %}

{% block main %}
    <pre id="content" style="white-space: pre-wrap;"></pre>

    <div id="google-container">
        <button id="btn-google-authorize" class="btn-google">Authorize</button>
        <button id="btn-google-signout" class="btn-google">Sign Out</button>
        {{ include('gmail/_select_labels.html.twig') }}
    </div>
    <div id="property-ad-container"></div>
{% endblock %}
