<form id="generate-urls-form">
    <div class="checkbox-group grid-a">
        <div class="checkbox">
            <input id="apartment-checkbox" name="types[{{ constant('App\\Enum\\PropertyType::APARTMENT') }}]" value="1" type="checkbox" checked>
            <label for="apartment-checkbox">Appartement</label>
        </div>
        <div class="checkbox">
            <input id="house-checkbox" name="types[{{ constant('App\\Enum\\PropertyType::HOUSE') }}]" value="1" type="checkbox" checked>
            <label for="house-checkbox">Maison</label>
        </div>
    </div>
    <div class="dropdown-wrapper grid-b">
        <select id="city-select" class="dropdown" name="city" required>
            <option value="" disabled selected>Quelle ville ?</option>
            <option value="{{ constant('App\\Enum\\City::BORDEAUX') }}">Bordeaux</option>
            <option value="{{ constant('App\\Enum\\City::LILLE') }}">Lille</option>
            <option value="{{ constant('App\\Enum\\City::LYON') }}">Lyon</option>
            <option value="{{ constant('App\\Enum\\City::MARSEILLE') }}">Marseille</option>
            <option value="{{ constant('App\\Enum\\City::MONTPELLIER') }}">Montpellier</option>
            <option value="{{ constant('App\\Enum\\City::NANTES') }}">Nantes</option>
            <option value="{{ constant('App\\Enum\\City::NICE') }}">Nice</option>
            <option value="{{ constant('App\\Enum\\City::PARIS') }}">Paris</option>
            <option value="{{ constant('App\\Enum\\City::RENNES') }}">Rennes</option>
            <option value="{{ constant('App\\Enum\\City::STRASBOURG') }}">Strasbourg</option>
            <option value="{{ constant('App\\Enum\\City::TOULOUSE') }}">Toulouse</option>
        </select>
    </div>
    <div class="dropdown-wrapper grid-c">
        <select id="min-rooms-count-select" class="dropdown" name="min_rooms_count" required>
            <option value="" disabled selected>Combien de pièces au moins ?</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="3">4</option>
            <option value="5">5</option>
            <option value="100">5+</option>
        </select>
    </div>
    <div class="field-wrapper field-wrapper--currency grid-d">
        <input class="field" data-type-number type="text" name="min_price" placeholder="Quel prix min ?" />
    </div>
    <div class="field-wrapper field-wrapper--currency grid-e">
        <input class="field" data-type-number type="text" name="max_price" placeholder="Quel prix max ?" required />
    </div>
    <div class="field-wrapper field-wrapper--area grid-f">
        <input class="field" data-type-number type="text" name="min_area" placeholder="Quelle surface min ?" />
    </div>
    <div class="field-wrapper field-wrapper--area grid-g">
        <input class="field" data-type-number type="text" name="max_area" placeholder="Quelle surface max ?" />
    </div>
    <button class="btn-filter grid-h" type="submit"><i class="fas fa-search fa-fw"></i>Générer</button>
</form>
