{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('homepage') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('homepage') }}
{% endblock %}

{% block sub_header %}
    <div id="sign-in" class="cta-wrapper">
        <h1>Facilitez la recherche de votre futur logement dès maintenant</h1>
        <a class="btn-signin" href="{{ path('connect_google_start') }}">
            <img src="{{ asset('build/logo-google-signin.svg') }}" alt="Google logo" />
            Sign in with Google
        </a>
    </div>
{% endblock %}

{% block body %}
    <p class="introduction">
            BoussImmo <b>regroupe</b>, sur une seule et même page, tous les <b>biens immobiliers</b> récupérés depuis vos <b>emails d'alerte d'annonces immobilières</b>.
    </p>
    <div class="section-container">
        <section id="principle">
            <h2>Comment ça marche ?</h2>
            <p>Tout d'abord, BoussImmo <b>extrait les biens immobiliers</b> se trouvant dans vos emails d'alerte d'annonces immobilières.</p>
            <p>
                Les annonces sont ensuite <b>filtrées</b> : les doublons (annonces indentiques émanant d'un même site) sont <b>mis de côté</b>,
                tandis que les annonces similaires diffusées par des plateformes différentes sont <b>regroupées</b> entre elles,
                afin d'offir le contenu à la fois le plus exhaustif et en même temps le plus <b>unique</b> possible.
            </p>
            <p>Enfin, libre à vous de <b>refiltrer</b> et <b>trier</b> vos annonces comme bon vous semble !</p>
        </section>
        <section id="instructions">
            <h2>Que faut-il faire pour utiliser le site ?</h2>
            <p>Au préalable, s'<b>inscrire aux alertes</b> de vente de biens immobiliers (maisons et/ou appartements) qui vous intéressent avec votre <b>adresse Gmail</b> sur les plateformes citées juste après.</p>
            <p>Connecter son <b>compte Gmail</b> à BoussImmo en cliquant sur le bouton de connexion <i><a href="#sign-in">ci-dessus</a></i>.</p>
            <p>Consulter BoussImmo aussi longtemps que vous n'aurez pas trouvé votre <b>chez-vous</b> !</p>
        </section>
        <section id="providers">
            <h2>Quelles sont les plateformes d'annonces immobilières gérées par BoussImmo ?</h2>
            <div class="provider-container">
                <a href="https://www.bienici.com" class="link" target="_blank" rel="noopener noreferrer">
                    <img src="{{ asset('build/providers/bienici.svg') }}" alt="Bien'ici"/>
                </a>
                <a href="https://www.leboncoin.fr" class="link" target="_blank" rel="noopener noreferrer">
                    <img src="{{ asset('build/providers/leboncoin.svg') }}" alt="Leboncoin"/>
                </a>
                <a href="https://www.logic-immo.com" class="link" target="_blank" rel="noopener noreferrer">
                    <img src="{{ asset('build/providers/logic-immo.png') }}" alt="Logic-Immo"/>
                </a>
                <a href="https://www.ouestfrance-immo.com" class="link" target="_blank" rel="noopener noreferrer">
                    <img src="{{ asset('build/providers/ouestfrance-immo.svg') }}" alt="OuestFrance-Immo"/>
                </a>
                <a href="https://www.pap.fr" class="link" target="_blank" rel="noopener noreferrer">
                    <img src="{{ asset('build/providers/pap.png') }}" alt="PAP"/>
                </a>
                <a href="https://www.seloger.com" class="link" target="_blank" rel="noopener noreferrer">
                    <img src="{{ asset('build/providers/seloger.svg') }}" alt="SeLoger"/>
                </a>
                <a href="https://www.superimmo.com" class="link" target="_blank" rel="noopener noreferrer">
                    <img src="{{ asset('build/providers/superimmo.svg') }}" alt="Superimmo"/>
                </a>
            </div>
            <div id="generate-urls-form-wrapper">
                <p>Gagnez du temps en générant les <b>liens de page de résultats</b> qui correspondent à vos critères</p>
                <p><i class="fas fa-bell fa-fw"></i>&nbsp;N'oubliez pas de vous inscrire aux <b>alertes</b> sur ces pages pour exploiter tout le potentiel de BoussImmo !</p>
                {{ include('homepage/_generate_urls_form.html.twig') }}
            </div>
        </section>
        <section id="security">
            <h2>Qu'en est-il de la confidentialité ?</h2>
            <p>BoussImmo analyse <b>uniquement</b> des emails envoyés par les plateformes d'annonces immoblières citées ci-dessus.</p>
            <p>BoussImmo ne <b>conserve</b> ni ne <b>diffuse</b> aucun email.</p>
            <p>BoussImmo ne stocke que les données personnelles dont il a besoin pour <b>fonctionner</b> : votre adresse Gmail.</p>
            <p>Les adresses e-mail ne sont <b>ni vendues ni partagées</b> car BoussImmo est développé par un particulier indépendant et désintéressé.</p>
            <p>Il est possible à tout moment de <b>déconnecter</b> votre compte Google de BoussImmo, depuis BoussImmo ou votre <a class="underline" href="https://myaccount.google.com/permissions">compte Google</a>.</p>
        </section>
    </div>
{% endblock %}
